/* 폰트 모음 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@font-face {
    font-family: 'KOFIHDrLEEJWTTF-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
	}
	
/* Nav 바 */
.navbar {background-color: #ffae2ddb;}
.nav-item {font-weight: bold;}

/* 바디 부분 스타일 */
body {font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  margin-top: 150px; margin-bottom: 200px;
  background-color: #defff8;
  }

/* 테이블 글씨 정렬 */
th, td { text-align: center;}

/* 카드 양식 */
.card{width:90%;
  border-style: none;
  background-color: white;
  box-shadow: 20px 20px 20px -20px #b38fd544;
	}

/* 중간급 제목 사용 시 */
#midT{ font-family: 'KOFIHDrLEEJWTTF-B';
  color:rgb(28, 20, 52);
  }

/* 그냥 글자만 진하게, 가운데 정렬 */
#jBC{font-weight: bold;
    text-align: center;
  }

/* 앵커 태그 사항 */
a { text-decoration: none; }

/* 긍정 버튼 */
#OKbtn {
  background-color: rgb(167, 74, 255);
}

